.deliverables-container{
    width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3%;
    .each-deliverables{
        .deliverable-title{

        }
        .deliverables-thumbnail{
            width: 100%;
            height: auto;
        }
        .deliverables-information{
            display: flex;
        }
    }
}