.App{
  text-align: center;
}

h1,li{
  font-family:serif
}

ul{
  display: flex;
  padding-left: 0px;
  justify-content: center;
}

li{
  list-style: none;
  padding: 20px;
}

.topPhoto{
  width:450px;
  margin: auto;
  display: block;
}